<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ==== BASE LINK ==== -->
    <link name="base_link">
        <pose>0 0 0 0 0 0</pose>
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/chassis.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/chassis.stl" scale="1 1 1" />
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>0</mu>
                        <mu2>0</mu2>
                        <slip1>1.0</slip1>
                        <slip2>1.0</slip2>
                    </ode>
                </friction>
            </surface>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="5"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>

        <!-- ==== FRONT LEFT CASTER WHEEL ==== -->
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl" scale="1 1 1" />
             </geometry>
            <origin xyz="0.410295 0.24 -0.112536" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl" scale="1 1 1" />
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>0</mu>
                        <mu2>0</mu2>
                        <slip1>1.0</slip1>
                        <slip2>1.0</slip2>
                    </ode>
                </friction>
            </surface>
            <origin xyz="0.410295 0.24 -0.112536" rpy="0 0 0"/>
        </collision>
        
        <!-- ==== FRONT RIGHT CASTER WHEEL ==== -->
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl"  scale="1 1 1" />
             </geometry>
            <origin xyz="0.410295 -0.24 -0.112536" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl"  scale="1 1 1" />
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>0</mu>
                        <mu2>0</mu2>
                        <slip1>1.0</slip1>
                        <slip2>1.0</slip2>
                    </ode>
                </friction>
            </surface>
            <origin xyz="0.410295 -0.24 -0.112536" rpy="0 0 0"/>
        </collision>       

        <!-- ==== BACK LEFT CASTER WHEEL ==== -->
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl"  scale="1 1 1" />
             </geometry>
            <origin xyz="-0.410295 0.24 -0.112536" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl"  scale="1 1 1" />
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>0</mu>
                        <mu2>0</mu2>
                        <slip1>1.0</slip1>
                        <slip2>1.0</slip2>
                    </ode>
                </friction>
            </surface>
            <origin xyz="-0.410295 0.24 -0.112536" rpy="0 0 0"/>
        </collision>

        <!-- ==== BACK RIGHT CASTER WHEEL ==== -->
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl"  scale="1 1 1" />
             </geometry>
            <origin xyz="-0.410295 -0.24 -0.112536" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/caster_wheel.stl"  scale="1 1 1" />
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>0</mu>
                        <mu2>0</mu2>
                        <slip1>1.0</slip1>
                        <slip2>1.0</slip2>
                    </ode>
                </friction>
            </surface>
            <origin xyz="-0.410295 -0.24 -0.112536" rpy="0 0 0"/>
        </collision>
    </link>
</robot>