<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

   <!-- ==== FRONT LASER ==== -->
   <link name="front_laser">
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/laser.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0 -0.04" rpy="0 0 -0.785375"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/laser.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0 -0.04" rpy="0 0 -0.785375"/>
        </collision>
    </link>
    <joint name="base_to_front_laser" type="fixed">
        <parent link="base_link"/>
        <child link="front_laser"/>
        <origin xyz="0.463324 -0.251979 0.03" />
    </joint>


    <!-- ==== BACK LASER ==== -->
    <link name="back_laser">
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/laser.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0 -0.04" rpy="0 0 2.355"/>
          <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/laser.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0 -0.04" rpy="0 0 2.355"/>
        </collision>
    </link>
    <joint name="base_to_back_laser" type="fixed">
        <parent link="base_link"/>
        <child link="back_laser"/>
        <origin xyz="-0.454597 0.230597 0.03" />
    </joint>
    
</robot>